@font-face {
  font-family: "satoshi-regular";
  src: url(../assets/fonts/Satoshi-Regular.otf);
}
@font-face {
  font-family: "satoshi-bold";
  src: url(../assets/fonts/Satoshi-Bold.otf);
}
@font-face {
  font-family: "integralcf-bold";
  src: url(../assets/fonts/Fontspring-DEMO-integralcf-bold.otf);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "satoshi-regular";
}

h1,
h2,
h3 {
  font-family: "integralcf-bold";
}
h4,
h5,
h6 {
  font-family: "satoshi-bold";
}

.alert {
  background-color: black;
  color: #ffffff !important;
  border: none;
  border-radius: 0px;
  padding: 4px;
}
.btn-close {
  padding: 0.5rem 1rem !important;
}
input[type="search"] {
  width: 24rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/image/Vector\ \(1\).svg");
  background-size: 18px;
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 4px 11px 4px 40px;
  margin-left: 2rem;
}

.nav-link {
  font-size: 0.9rem;
}

input[type="email"] {
  width: 16rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/image/Frame\ \(1\).svg");
  background-size: 18px;
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 4px 11px 4px 31px;
}

.outline-none {
  outline: none;
}
.bg-custom {
  background-color: #f0f0f0;
}
