@font-face {
  font-family: "satoshi-regular";
  src: url(../assets/fonts/Satoshi-Regular.otf);
}
@font-face {
  font-family: "satoshi-bold";
  src: url(../assets/fonts/Satoshi-Bold.otf);
}
@font-face {
  font-family: "integralcf-bold";
  src: url(../assets/fonts/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
  font-family: "satoshi-medium";
  src: url(../assets/fonts/Satoshi-Medium.otf);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "satoshi-regular";
}

h1,
h2,
h3 {
  font-family: "integralcf-bold";
}
h4,
h5 {
  font-family: "satoshi-bold";
}
h6 {
  font-family: "satoshi-medium";
}
.satoshi-medium {
  font-family: "satoshi-medium";
}
.alert {
  background-color: black;
  color: #ffffff !important;
  border: none;
  border-radius: 0px;
  padding: 4px;
}
.btn-close {
  padding: 0.5rem 1rem !important;
}
input[type="search"] {
  width: 24rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  background-color: white;
  background-image: url("/image/Vector\ \(1\).svg");
  background-size: 18px;
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 4px 11px 4px 40px;
  margin-left: 2rem;
}

.nav-link {
  font-size: 0.9rem;
}

input[type="email"] {
  width: 16rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  background-color: white;
  background-image: url("/image/Frame\ \(1\).svg");
  background-size: 18px;
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 4px 11px 4px 31px;
}

.outline-none {
  outline: none;
}
.bg-custom {
  background-color: #f0f0f0;
}
.pt-6 {
  padding-top: 7rem;
}
.mb-6 {
  margin-bottom: -4rem;
}
.f-b {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 25px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: black;
  background-color: white;
  font-size: 0.7rem;
}
.f-b1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 25px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: black;
  background-color: white;
  font-size: 0.7rem;
}
.f-b1:hover {
  color: white !important;
  filter: invert(100%) hue-rotate(180deg);
}
.f-b:hover {
  background-color: black;
  color: white !important;
  /* filter: invert(100%) hue-rotate(180deg); */
}
.ms-6 {
  margin-left: 7.8rem;
}
header {
  background-image: url(/image/Component.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fs-7 {
  font-size: 0.69rem;
}
.fs-0 {
  font-size: 0.87rem;
}
.fs-8 {
  font-size: 0.8rem;
}

.btn-dark {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border-radius: 3rem !important;
  margin-bottom: 2rem !important;
}
.bg-danger {
  --bs-bg-opacity: 0.3;
}
.fs-9 {
  font-size: 15px;
}
.w-custom {
  max-width: 58rem;
}
.bg-1 {
  background-image: url("/image/Frame61.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-2 {
  background-image: url("/image/Frame62.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-3 {
  background-image: url("/image/Frame64.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-4 {
  background-image: url("/image/Frame63.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
