input[type="text"] {
  width: 24rem;
  background-color: white;
  background-image: url(/image/tag.svg);
  background-size: 18px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding: 4px 11px 4px 40px;
}
