.range-slider {
  width: 100%;
  height: 30px;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-range {
  position: absolute;
  height: 6px;
  background: black;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.range-input {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
}

.range-input::-webkit-slider-thumb {
  pointer-events: all;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: black;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  pointer-events: all;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: black;
  border: none;
  cursor: pointer;
}
